{% extends 'base.html' %}

{% block title %}
{{ news.title }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3" xmlns="http://www.w3.org/1999/html">
    <div class="card-header">
        Категория: <a href="{{ news.category.get_absolute_url }}">{{ news.category }}</a>
    </div>
    <div class="card-body">
        <div class="media">
            {% if news.photo %}
            <img src="{{ news.photo.url }}" width="30%" align="right">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ news.title }}</h5>
                <p class="card-text">{{ news.content|linebreaks }}</p>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <table width="100%">
            <tr>
                <td width="50%">{{ news.created_at|date:"Y-m-d H:i" }}</td>
                <td width="50%" align="right"><a href="{% url 'upd_news' news.pk %}">Редактировать новость</a></td>
            </tr>
        </table>
    </div>
</div>

{% for comment in comments %}
<ul class="list-group">
    <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <b class="mb-1">{{ comment.username }}</b>
            <small>{{ comment.created_at|timesince }} ago</small>
        </div>
        <p class="mb-1">{{ comment }}</p>
    </li>
</ul>
{% endfor %}

<div class="col mt-3">
    <h5>Добавить комментарий</h5>
    <form action="/news/{{ news.pk }}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-lg btn-block">Добавить комментарий</button>
    </form>
    {% endblock %}
</div>